@import 'https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css';

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    /* Para evitar que aparezcan barras de desplazamiento */
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

section {
    scroll-margin-top: 100px;
    /* Adjust if you have a fixed navbar */
}

img {
    max-width: 100%;
}

footer {
    background: #1f2937;
}

@media (max-width: 640px) {
    nav ul {
        flex-direction: column;
        gap: 2rem;
    }
}

#nav-menu.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(31, 41, 55, 0.95);
    padding: 1rem 0;
}

.icon {
    font-size: 2.5rem;
    color: white;
}

.icon-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container div {
    position: absolute;
    transform-origin: center;
    animation: rotate 10s linear infinite;
}

.icon-container a {
    display: block;
    width: 50px;
    height: 50px;
}

#plasma-ball {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -1;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes lineAnimation {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.line {
    display: none;
}